<!DOCTYPE html>
<html lang="fr-fr">
    <head>

        <meta charset="utf-8" >
        <meta author="Adrien Prévost - adhbk" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/bootstrap.css">
        <link rel="stylesheet" href="stylesheets/adri.css">
        <link rel="stylesheet" href="stylesheets/">
        <title> OmegaTitre </title>

        <script src="socket.io/socket.io.js"></script>
        <script type="text/javascript" src="node-atlas/socket.io.js"></script>
        <script type="text/javascript" src="javascripts/index.js"></script>
    </head>
    <body>

    </body>
</html>
